.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  padding-block: 2.5rem;
}

h2 {
  margin-block-end: 1rem;
}

.v1 .deck {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 2rem;
}
