.container {
  padding-block: 2.5rem;
}

h2 {
  margin-block-end: 1rem;
}

ul {
  padding-inline-start: 0;
}

ul.deck li {
  list-style: none;
}

.v6 .deck {
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}

.simplebar-content-wrapper:focus-visible {
  border-radius: 0.25rem;
  border: 4px solid var(--primary-focus);
}

.v6.simplebar-track.simplebar-horizontal {
  background-color: var(--background-color);
  width: calc(100% - 9rem);
  padding: 1.125rem;
}

.v6.simplebar-scrollbar.simplebar-visible::before {
  background-color: var(--primary);
  top: 1.1rem;
  opacity: 1;
  height: 0.25rem;
}

.simplebar-wrapper,
.scroll-wrapper {
  position: relative;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: -1.5rem;
}

.button-left,
.button-right {
  width: fit-content;
  border-radius: 50%;
}